body{
  background-color: #021533;
}

nav{
  width: 100%;
  position: absolute;

}

.imgNav{
  margin-top: -3%;
  margin-left: 45%;
  position: center;
}

ul{
  list-style-type: none; /*remove dots*/
  margin: 5%;
  margin-left: -1%;
  margin-top: -4%;
  margin-right: 0;
  padding: 0;
  overflow: hidden; /*outside of the section do not use*/
  font-size: 120%;
  font-family: "Lucida Calligraphy";
}

li{
  float: left;
}

.book{
  width:200px;
  height:90px;
  float:left;
  margin-top: -16%;
  margin-left: 84%;
}

.text{
  text-align: center;
  color: white;
  font-size: 150%;
  padding-top: 30px;
  opacity:.6;
  transition:padding-top .4s;
  text-decoration: none;
  font-family: "Lucida Calligraphy";
}

.book:hover{
  background-color: #23a7c4;
  height:95px;
  transition:height .4s;
  box-shadow: 0px 8px 16px 0px silver;
}

.book:hover .text{
  color: blue;
  padding-top:30px;
  opacity: 1;
}

li a{
  display: block; /*Navigation bar*/
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #28c7eb;
  box-shadow: 0px 8px 16px 0px silver;
  color: blue;
  opacity: 0.8;
}

.Selected{
  background-color:#ccf5ff;
  box-shadow: 0px 8px 16px 0px silver;
  color: blue;
  opacity: 0.8;
}

section{
  height: 100vh;
  border: 1px solid black;
  justify-content: center;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

a{
  font-family: "Lucida Calligraphy";
  color: silver;
  text-decoration: none;
}

a:hover{
  color: #28c7eb;
}

.UP{
  margin-left: 50%;
  color: white;
}

hr{
  color: white;
}
.footer{
  text-align: center;
  color: white;
}

.fa {
  padding: 20px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  margin: 0px 5px;
  padding-top: 11px;
  padding-bottom: 10px;
  top: 80%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  margin-left: 88%;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.brand{
font-weight: 400;
font-size: 12px;
line-height: 14px;
box-sizing: border-box;
background-color: #e6eaed;
height: 90px;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
align-items:center;
display: flex;
}

.brand img{
  padding-top: 0%;
  padding-Left: 45%;
}

.copy-right{
  -webkit-font-smoothing: antialiased;
font-weight: 400;
font-family: Montserrat,Verdana,Helvetica,Arial,sans-serif;
font-size: 12px;
text-align: center;
box-sizing: border-box;
line-height: 18px;
color: #979899;
}
